* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {

}

.box-md {

}

.box-lg{

}

.border{

}

#yellow {
  background-color: yellow;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10% 50px 0px;
  display: flex;
  justify-content: center; /*Aligns from left to right*/
  align-items: center; /*Aligns from top to bottom*/
}

#red {
  background-color: red;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  border: 10px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center; /*Aligns from left to right*/
  align-items: center; /*Aligns from top to bottom*/
}

#blue {
  background-color: cyan;
  padding-top: 30%;
  width: 90%;
}
