* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {

}

.box-md {

}

.box-lg{

}

.border{

}

#yellow {
  background-color: yellow;
  height: 600px;
  margin: 10% 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#red {
  background-color: red;
  height: 400px;
  width: 75%;
  border: 10px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blue {
  background-color: cyan;
  height: 300px;
  width: 90%;
}
